<h1 class="mt-5">Welcome to InstaClone!</h1>

<p class="lead">Please register or log in for InstaClone.</p>

<%= link_to 'Sign up', new_account_registration_path, class: 'btn btn-primary' %>
<%= link_to 'Log in', new_account_session_path, class: 'btn btn-secondary' %>